body {
    font-size: 3em;
    font-weight: 900;
    font-family: "Lato";
    text-transform: uppercase;
}

.centered {
    position: fixed;
    top: 50%;
    margin-top: -50px;

    /*
    left: 50%;
    margin-left: -100px;
    */


}
#wrapper {
}
#primary {
    float: left;
    width: 3%;
    height: 550px;

}


#content {
    float: left;
    width: 63%;
    height: 550px;


}
#content p{
    display: inline-block;
    vertical-align: middle;
    position: fixed;
    top: 50%;
    margin-top: -50px;
}

#secondary {
    display: block;
    float: left;
    width: 33%;
    height: 550px;
}

#next {
    background-image: url("images/right.png") ;
    background-color: transparent;
    border: none;
    outline:none;
    top: 50%;
    margin-top: -50px;
    position: relative;
    height: 500px;
    width: 500px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
